<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="dist/css/bootstrap.min.css">
<link rel="stylesheet" href="homecss.css">

	<title>Welcome </title>
</head>
<body id ="hero">
<div>
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Alfred</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="shopping.html">Online shopping</a></li>
      <li><a href="videos.html">Video to watch</a></li>
      <li><a href="general.html">General bookmarks</a></li>
      <li ><a href="recommendations.html">Recommendations</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
    </ul>
  </div>
</nav>



<section >
    <div class="hero-container">
      <h1>Welcome to ALFRED</h1>
    
      <h2>Your Internet guide</h2>

      
    </div>
  </section>

<section id="mainlogo">
  <a href="">
  <img src="icon.jpg" width="200px" height="200px">
</a>
</section>


<section id = "img1">
  <a href="general.html">
  <img src="bookmark.jpg" width="130px" height="130px">
</a>
</section>

<section id = "img2">
  <a href="videos.html">
  <img src="video.jpg"  width="130px" height="130px">
  </a>
</section>

<section id = "img3">
  <a href="shopping.html">
  <img src="cart.jpg"  width="130px" height="130px">
  </a>
</section>


<script src="bootstrap-3.3.7/dist/jquery-3.3.1.min.js"></script>
<script src="dist/js/bootstrap.min.js"></script>

</div>
</body>
</html>