<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/dashboard.css') }}">

	<title>Welcome </title>
</head>
<body id ="hero">
<div>
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Alfred</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/dashboard">Home</a></li>
      <li><a href="/shopping">Online shopping</a></li>
      <li><a href="/videos">Video to watch</a></li>
      <li><a href="/general">General bookmarks</a></li>
      <li ><a href="/recommendations">Recommendations</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
    </ul>
  </div>
</nav>

<section >
    <div class="jumbotron" align = "center" style = "padding-top: 10px; padding-bottom: 15px;">
      <h1 style = "font-family: run; src: url('assets/fonts/run.ttf');">Welcome to ALFRED</h1>
    
      <h2>Keeping your internet together in one place</h2>

      
    </div>
  </section>

<section id="mainlogo">
  <a href="">
  <img src="{{ url_for('static', filename='stylesheets/assets/icon.jpg') }}" width="150px" height="150px">
</a>
</section>


<section id = "img1">
  <a href="/general">
  <img src="{{ url_for('static', filename='stylesheets/assets/bookmark.jpg') }}" width="130px" height="130px">
</a>
</section>

<section id = "img2">
  <a href="/videos">
  <img src="{{ url_for('static', filename='stylesheets/assets/video.jpg') }}"  width="130px" height="130px">
  </a>
</section>

<section id = "img3">
  <a href="/shopping">
  <img src="{{ url_for('static', filename='stylesheets/assets/cart.jpg') }}"  width="130px" height="130px">
  </a>
</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</div>
</body>
</html>