<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

	<title>Welcome </title>
</head>
<body>

	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Alfred</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/dashboard">Home</a></li>
      <li><a href="/shopping">Online shopping</a></li>
      <li class="active"><a href="/videos">Video to watch</a></li>
      <li><a href="/general">General bookmarks</a></li>
      <li ><a href="/recommendations">Recommendations</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
    </ul>
  </div>
</nav>

<div class="container">
    <div class="row">
		<div class="well">
        <h1 style = "font-family: run; src: url('assets/fonts/run.ttf');" class="text-center">You are yet to watch these videos</h1>
        </div>
	</div>
</div>

{% if no_items is not defined %}
  {% for title, image_url, video_url in data %}
 <div class = "container" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition: 0.3s;" >


          <a href="#" >

                <div class="media col-md-3">

</br>
                    <figure class="pull-left" >
                        <img style = "min-width:200px; min-height:150px;" class="media-object img-rounded img-responsive"  width="220px"  src="{{image_url}}" alt="placehold.it/350x250" >
                    </br>
                    </figure>
                </div>
                <div>
                
                    <h2>{{title}}</h2>
                    
                </div>
                <div style = "padding-bottom: 20px" class="col-md-3 text-center">
                    </br></br>
                    <a href = "{{video_url}}"><button type="button" class="btn btn-danger btn-lg btn-block"> Watch Now! </button>  </a>
                </div>
          </a>
         
        </div>
        <br>
        <br>
        <br>
    {% endfor %}
{% else %}
  <h2> No items to show </h2>
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</body>
</html>